[Unit]
Description=Umbrel Guardian Backup
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
TimeoutSec=infinity
ExecStart=/home/umbrel/umbrel/umbrel-guardian/scripts/backup.sh
StandardOutput=journal
StandardError=journal
